.admin {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .admin {
    max-width: 500px;
    margin: 0 auto;
  }
}
.admin h1 {
  text-align: center;
  font-size: 2.2rem;
  color: #e97f26;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0 1rem;
  margin: 0;
}
.admin form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.admin form input {
  padding: 0.2rem;
}
.admin form input::-moz-placeholder {
  font-style: italic;
}
.admin form input::placeholder {
  font-style: italic;
}
.admin form select {
  width: 50%;
}
.admin label {
  color: #e97f26;
  letter-spacing: 1px;
  font-weight: 600;
}

.textInput {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10vw;
  gap: 0.5rem;
}

.radio {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.radio:first-of-type {
  margin-top: -1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.description textarea {
  height: 6rem;
  padding: 0.5rem;
}
.description textarea::-moz-placeholder {
  font-style: italic;
}
.description textarea::placeholder {
  font-style: italic;
}

.priceInput {
  display: grid;
  grid-template-columns: 50% 1fr;
}
.priceInput input {
  width: 50%;
}

.fileInput {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.fileInput input {
  width: 50%;
}

.imgWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.btnWrapper {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.btn {
  background-color: transparent;
  color: #e97f26;
  padding: 0.5rem;
  border: 1px solid #e97f26;
  border-radius: 0.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  cursor: pointer;
  min-width: 120px;
}

.btnActive {
  background-color: #e97f26;
  color: #0d0d0d;
  padding: 0.5rem;
  border: 1px solid #0d0d0d;
  border-radius: 0.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  cursor: pointer;
  min-width: 120px;
}

.submitBtn {
  background-color: #e97f26;
  color: #0d0d0d;
  padding: 0.8rem 1.5rem;
  border: 1px solid #0d0d0d;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  align-self: center;
  margin-bottom: 2rem;
}

.adminOnly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #e97f26;
  letter-spacing: 3px;
  line-height: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  max-width: 90vw;
}

.divider {
  background-color: #e97f26;
  width: 90%;
  height: 0.5px;
  align-self: center;
  margin: 1rem 0;
}
@media (min-width: 1025px) {
  .divider:last-of-type {
    display: none;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .divider:last-of-type {
    display: none;
  }
}/*# sourceMappingURL=admin.module.css.map */