@import './globals.scss';

.bikeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.polaroid {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5rem solid $offWhite;
    padding: .5rem;
    background-color: $offWhite;
    border-radius: .2rem;

    img {
        max-width: 90vw;
        border: 2px solid $black;
    }

    p,
    h2 {
        margin: 0;
        color: $black;
        text-align: center;
    }

    h2 {
        margin-top: 0.7rem;
        font-size: 2rem;
        font-weight: bold;
        transform: rotate(-2deg);
    }

    p {
        font-weight: 600;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }

    span {
        font-size: 1rem;
        margin: 0;
    }
}

.discount {
    color: rgb(83, 83, 83) !important;
    letter-spacing: 0 !important;
    font-size: .8rem !important;
}

.description {
    text-align: center;
    color: $offWhite;
    letter-spacing: 1px;
    padding: 0 1rem;
}

.btnWrapper {
    display: flex;
    justify-content: space-around;
    margin: .5rem 0;
    width: 90%;
    border-bottom: 1px solid $theme;
}

.btn {
    background-color: transparent;
    color: $theme;
    border: 2px solid $theme;
    padding: 0.3rem .8rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 2rem;

    &:hover {
        background-color: $theme;
        color: $black;
        border: 2px solid $theme;
    }

    @include smallPhone {
        padding: 0.2rem .5rem;
    }
}

.activeBtn {
    background-color: $theme;
    color: $black;
    border: 2px solid $theme;
    padding: 0.3rem .8rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    svg path {
        fill: #0d0d0d;
    }

    @include smallPhone {
        padding: 0.2rem .5rem;
    }
}

.similar {
    h4 {
        text-align: center;
        font-weight: 800;
        text-align: center;
        letter-spacing: 1px;
        font-size: 2rem;
        text-transform: uppercase;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $black;
        text-shadow: 5px 5px 10px $theme, -5px -5px 10px $theme;
        color: rgba(255, 255, 255, 0.788);
        margin: 2rem 0 1rem 0;
    }
}