@import './globals.scss';

.bikeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid $offWhite;
    padding: .5rem;
    margin-bottom: 1.5rem;

    p,
    h2 {
        color: $offWhite;
        margin: 0;
    }

    p {
        color: $offWhite;
    }
}