@import '../styles/globals.scss';

.divider {
    background-color: $theme;
    width: 90%;
    height: .5px;
    align-self: center;
    margin-bottom: 1rem;

    @include desktop {
        &:last-of-type {
            display: none;
        }
    }

    @include tablet {
        &:last-of-type {
            display: none;
        }
    }
}

.cardsContainer {
    @include desktop {
        display: flex;
        justify-content: space-around;
        padding: 0 4vw;
    }

    @include tablet {
        display: flex;
        justify-content: space-around;
        padding: 0 4vw;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        text-align: center;
        font-size: 2rem;
        color: $theme;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 0 1rem;
        margin: 1rem;
    }
}

.image,
.image2,
.image3 {
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: .3rem;
    width: 350px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1;
        pointer-events: none;
        border-radius: inherit;

        &:hover {
            background: rgba(0, 0, 0, 0.7);
        }
    }

    h3 {
        z-index: 2;
        padding: 0 1rem;
        color: $offWhite;
        text-align: center;
        font-size: 2.2rem;
        letter-spacing: 1px;
        text-shadow: 0 0 10px $black;
        margin-bottom: 7rem;
    }

    a {
        z-index: 2;
    }
}

.image {
    background: url('../public/innerCity.webp');
}

.image2 {
    background: url('../public/haGiang.webp');
}

.image3 {
    background: url('../public/onRock.webp');
}

.btn {
    background-color: $theme;
    color: $black;
    border: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
    margin: .5rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    min-width: 120px;
    width: fit-content;
    z-index: 2;
    box-shadow: 0 0 10px $black;

    &:hover {
        background-color: $black;
        color: $theme;
        transform: scale(1.2);
        transition: all .5s ease-in-out;
        border: 2px solid $theme;
    }
}