@import '../styles/globals.scss';

.forSale {
    margin: 2rem 0;

    h2 {
        text-align: center;
        font-size: 2rem;
        color: $theme;
        letter-spacing: 3px;
        text-transform: uppercase;
        padding: 0 1rem;
        margin: 1rem;

        @include desktop {
            margin-bottom: 2rem;
        }
    }

    h3,
    p {
        text-align: center;
        color: $offWhite;
        letter-spacing: 1px;
        padding: 0 1rem;
        margin: 0;
    }

    h3 {
        margin-top: 1rem;
    }

    img {
        width: 350px;
        height: 350px;
        border-radius: .3rem;
        margin: 0 auto;
        margin-top: 2rem;
    }
}

.btnHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem
}

.btn {
    background-color: $theme;
    color: $black;
    border: none;
    border-radius: .3rem;
    padding: .5rem 1rem;
    align-self: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 140px;

    &:hover {
        background-color: $black;
        color: $theme;
        transform: scale(1.2);
        transition: all .5s ease-in-out;
        border: 2px solid $theme;
    }
}

.divider {
    @include phone {
        display: none;
    }

    @include phoneLandscape {
        display: none;
    }

    background-color: $theme;
    width: 90%;
    height: .5px;
    align-self: center;
    margin-bottom: 1rem;
}

.slider {
    img {
        aspect-ratio: 600 / 450;
    }

    @include desktop {
        margin-left: 5vw;

    }
}