@import '../styles/globals.scss';

.hanoiRentals {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    position: relative;

    h2,
    h1 {
        text-align: center;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $black;
        text-shadow: 5px 5px 10px $theme, -5px -5px 10px $theme;
        color: rgba(255, 255, 255, 0.788);

    }

    h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin: 1.5rem .5rem .5rem .5rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2rem;
        margin: 0 .5rem 1rem 0;
    }

    p {
        text-align: center;
        color: $offWhite;
        letter-spacing: 1px;
        padding: 0 1rem;
        margin: 0;

        &:first-of-type {
            padding-bottom: 0.5rem;
        }
    }

    img {
        filter: invert(15%);
        rotate: -30deg;
        position: absolute;
        z-index: -1;
        bottom: -5rem;
        left: -2rem;
    }
}

.divider {
    background-color: $theme;
    width: 90%;
    height: .5px;
    align-self: center;
    margin-bottom: 1rem;

    @include desktop {
        &:last-of-type {
            display: none;
        }
    }

    @include tablet {
        &:last-of-type {
            display: none;
        }
    }
}