@import '../styles/globals.scss';

.hanoiRentals {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    position: relative;

    h2,
    h1 {
        text-align: center;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $black;
        text-shadow: 5px 5px 10px $theme, -5px -5px 10px $theme;
        color: rgba(255, 255, 255, 0.788);
    }

    h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin: 1.5rem .5rem .5rem .5rem;

        @include desktop {
            font-size: 6rem;
            margin: 0rem 4rem 3rem 4rem;
            line-height: 6rem;
        }
    }

    h2 {
        font-size: 2rem;
        line-height: 2rem;
        margin: 0 .5rem 1rem 0;

        @include desktop {
            margin: -2rem 0 2rem 0;
        }
    }

    p {
        text-align: center;
        color: $offWhite;
        letter-spacing: 1px;
        padding: 0 1rem;
        margin: 0;

        &:first-of-type {
            padding-bottom: 0.5rem;
        }

        @include desktop {
            padding: 0 20vw 2rem 20vw;
        }
    }
}

.deskContent {
    @include tablet {
        display: flex;
        flex-direction: column;
        gap: 4vw;
        padding: 0 10vw;

        div {
            padding-top: 2rem;
        }
    }

    @include desktop {
        display: flex;
        gap: 4vw;
        padding: 0 10vw;
        margin: 1rem 0;

        div {
            padding-top: 2rem;
        }
    }
}

.deskInfo {
    @include phone {
        display: none;
    }

    @include phoneLandscape {
        display: none;
    }
}

.cameraImg {
    filter: invert(15%);
    rotate: -30deg;
    position: absolute;
    z-index: -1;
    bottom: -5rem;
    left: -2rem;

    @include desktop {
        left: 70vw;
    }
}

.sunriseImg {
    border-radius: .3rem;

    @include phone {
        display: none;
    }

    @include phoneLandscape {
        display: none;
    }

    @include tablet {
        display: none;
    }
}

.divider {
    background-color: $theme;
    width: 90%;
    height: .5px;
    align-self: center;
    margin-bottom: 1rem;

    @include desktop {

        display: none;

    }

    @include tablet {
        &:last-of-type {
            display: none;
        }
    }
}