@import '../styles/globals.scss';

.headerDesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;

    img:first-of-type {
        border-radius: 50%;
    }

    @include smallPhone {
        display: none;
    }

    @include phone {
        display: none;
    }

    @include phoneLandscape {
        display: none;
    }

    @include tablet {
        display: none;
    }
}

.mobHead {
    @include phone {
        display: flex;
    }

    @include desktop {
        display: none;
    }

    position: absolute;
    top: 2.5rem;
    left: 1.5rem;

    svg {
        border: 2px solid $theme;
        border-radius: 50%;
        padding: 0.5rem;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    li {
        list-style: none;
    }
}

.mobNav {
    transition: all .5s ease;
    background: linear-gradient(to top, #DA251D 0%, #DA251D 30%, #FFFFFF 70%, #FFFFFF 100%);
    width: 66vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    color: $black;
    padding: 3rem 1rem 0rem .5rem;

    a {
        text-decoration: none;
        color: $black;
    }

    ul {
        padding: 0;
        margin: 0;
        margin-left: 1.5rem;
    }

    li {
        list-style: none;
        line-height: 4rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        z-index: 11;
    }
}

.navItem {
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 600;
    z-index: 11 !important;
}

.subItem {
    font-weight: 500;
}

.nestedDropdown,
.nestedMenu {
    height: 0;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease, opacity 0.5s ease;
}

.show {
    max-height: 12rem;
    height: 12rem;
    opacity: 1;
}

.star {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.closeBtn {
    position: absolute;
    top: 12rem;
    right: -12.8rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2000;
    // color: rgba(255, 255, 255, 0.473);
    color: #e97e26ba;
    font-size: 5rem;
    transform: rotate(270deg);
    padding: 0 5rem;
    letter-spacing: 15px;
    font-weight: 800;
    animation: opacity 1s ease forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}