.headerDesk {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  align-items: center;
  padding: 0.5rem 1rem;
}
.headerDesk nav {
  place-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 359px) {
  .headerDesk {
    display: none;
  }
}
@media (max-width: 450px) {
  .headerDesk {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 767px) {
  .headerDesk {
    display: none;
  }
}
@media (min-width: 450px) and (max-width: 1024px) {
  .headerDesk {
    display: none;
  }
}

.headLogo div {
  margin: -0.8rem 0 0 2rem;
}

.mainMenu {
  display: flex;
  gap: 1vw;
}
.mainMenu .navItemDesk {
  text-decoration: none;
  color: #ebebeb;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0 1vw;
  cursor: pointer;
}
.mainMenu .navItemDesk:hover {
  color: #e97f26;
  transition: all 0.2s ease-in-out;
}

.dropBox {
  position: relative;
}

.dropdown {
  z-index: 10;
  position: absolute;
  top: 3rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  border: 2px solid #e97f26;
  padding: 1rem;
  width: 160px;
  border-radius: 0.3rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.399);
}
.dropdown a,
.dropdown span {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: left;
  color: #e97f26;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
.dropdown a {
  padding: 0.5rem 0;
}

.dropItem {
  position: relative;
}

.nestedDropdown {
  position: absolute;
  height: 9rem;
  top: 0;
  left: 4rem;
  z-index: 12;
  display: flex;
  flex-direction: column;
  border: 2px solid #e97f26;
  padding: 1rem;
  width: 120px;
  border-radius: 0.3rem;
  background-color: pink;
}
.nestedDropdown a {
  color: #e97f26;
}

.stars {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.stars svg:nth-of-type(5) {
  margin: 0 0 0.15rem 0.1rem;
}
.stars svg:nth-of-type(6) {
  margin: 0 0 0rem 0.5rem;
}

.reviews {
  margin: -0.5rem 0 0 0.5rem;
}
.reviews p {
  color: #ebebeb;
  margin: 0;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.reviews span {
  color: #e97f26;
  font-size: 1.5rem;
}

.mobHead {
  position: absolute;
  top: 2.5rem;
  left: 1.5rem;
}
@media (max-width: 450px) {
  .mobHead {
    display: flex;
  }
}
@media (min-width: 1025px) {
  .mobHead {
    display: none;
  }
}
.mobHead svg {
  border: 2px solid #e97f26;
  border-radius: 50%;
  padding: 0.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.nav li {
  list-style: none;
}

.mobNav {
  transition: all 0.5s ease;
  background: linear-gradient(to top, #DA251D 0%, #DA251D 40%, #0d0d0d 100%);
  width: 66vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 10;
  color: #0d0d0d;
  padding: 3rem 1rem 0rem 0.5rem;
}
.mobNav a {
  text-decoration: none;
  color: #e97f26;
}
.mobNav ul {
  padding: 0;
  margin: 0;
  margin-left: 1.5rem;
}
.mobNav li {
  list-style: none;
  line-height: 4rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  z-index: 11;
  color: #e97f26;
  text-shadow: -0.5px -0.5px 0 #0d0d0d, 0.5px -0.5px 0 #0d0d0d, -0.5px 0.5px 0 #0d0d0d, 0.5px 0.5px 0 #0d0d0d;
}

.navItem {
  text-transform: uppercase;
  color: #e97f26;
  font-size: 1.8rem;
  letter-spacing: 5px;
  font-weight: 600;
  z-index: 11 !important;
  text-shadow: -0.5px -0.5px 0 #0d0d0d, 0.5px -0.5px 0 #0d0d0d, -0.5px 0.5px 0 #0d0d0d, 0.5px 0.5px 0 #0d0d0d;
}

.subItem {
  font-weight: 500;
}

.nestedDropdown,
.nestedMenu {
  height: 0;
  max-height: 0;
  opacity: 0;
  transition: all 0.5s ease, opacity 0.5s ease;
}

.show {
  max-height: 12rem;
  height: 12rem;
  opacity: 1;
}

.star {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.closeBtn {
  position: absolute;
  top: 12rem;
  right: -12.8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 2000;
  color: rgba(233, 126, 38, 0.7294117647);
  font-size: 5rem;
  transform: rotate(270deg);
  padding: 0 5rem;
  letter-spacing: 15px;
  font-weight: 800;
  animation: opacity 1s ease forwards;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=header.module.css.map */