@import '../styles/globals.scss';

.headerDesk {
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    align-items: center;
    padding: .5rem 1rem;

    nav {
        place-self: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin: 0;
        }
    }

    @include smallPhone {
        display: none;
    }

    @include phone {
        display: none;
    }

    @include phoneLandscape {
        display: none;
    }

    @include tablet {
        grid-template-columns: 30% 1fr
    }
}

.headLogo {
    div {
        margin: -.8rem 0 0 2rem;
    }
}

.mainMenu {
    display: flex;
    gap: 1vw;

    .navItemDesk {
        text-decoration: none;
        color: $offWhite;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 700;
        padding: 0 1vw;
        cursor: pointer;

        &:hover {
            color: $theme;
            transition: all .2s ease-in-out;
        }
    }
}

.dropBox {
    position: relative;
}

.dropdown {
    z-index: 10;
    position: absolute;
    top: 3rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid $theme;
    padding: 1rem;
    width: 160px;
    border-radius: .3rem;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.399);

    a,
    span {
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-align: left;
        color: $theme;
        font-weight: 700;
        cursor: pointer;
        text-decoration: none;
    }

    a {
        padding: .5rem 0;
    }
}

.dropItem {
    position: relative;
}

.nestedDropdown {
    position: absolute;
    height: 9rem;
    top: 0;
    left: 4rem;
    z-index: 12;
    display: flex;
    flex-direction: column;
    border: 2px solid $theme;
    padding: 1rem;
    width: 120px;
    border-radius: .3rem;
    background-color: pink;

    a {
        color: $theme;
    }
}

.stars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;

    svg:nth-of-type(5) {
        margin: 0 0 .15rem .1rem;
    }

    svg:nth-of-type(6) {
        margin: 0 0 0rem .5rem;
    }

    @include tablet {
        display: none;
    }
}

.reviews {
    margin: -.5rem 0 0 .5rem;

    p {
        color: $offWhite;
        margin: 0;
        letter-spacing: 1px;
        font-size: .8rem;
    }

    span {
        color: $theme;
        font-size: 1.5rem;
    }

    @include tablet {
        display: none;
    }
}

// mobile
.mobHead {
    @include phone {
        display: flex;
        gap: 6vw;
    }

    @include phoneLandscape {
        display: flex !important;
        gap: 6vw !important;
    }

    @include tablet {
        display: none;
    }

    @include desktop {
        display: none;
    }

    position: absolute;

    width: 100vw;
    top: 1rem;
    left: 1rem;

    svg {
        border: 2px solid $theme;
        border-radius: 50%;
        padding: 0.5rem;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    li {
        list-style: none;
        cursor: pointer;
    }

    a {
        cursor: pointer;
    }
}

.mobNav {
    transition: all .5s ease;
    background: linear-gradient(to top right, #DA251D 0%, #DA251D 30%, $black 100%);
    width: 66vw;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    color: $black;
    padding: 3rem 1rem 0rem .5rem;

    a {
        text-decoration: none;
        color: $theme;
        cursor: pointer;
    }

    ul {
        padding: 0;
        margin: 0;
        margin-left: 1.5rem;
    }

    li {
        list-style: none;
        line-height: 4rem;
        font-size: 1.5rem;
        letter-spacing: 1px;
        z-index: 11;
        color: $theme;
        cursor: pointer;
        text-shadow:
            -.5px -.5px 0 $black,
            /* Top-left shadow */
            .5px -.5px 0 $black,
            /* Top-right shadow */
            -.5px .5px 0 $black,
            /* Bottom-left shadow */
            .5px .5px 0 $black,
    }
}

.navItem {
    text-transform: uppercase;
    color: $theme;
    font-size: 1.8rem;
    letter-spacing: 5px;
    font-weight: 600;
    z-index: 11 !important;
    margin: 0;
    text-shadow:
        -.5px -.5px 0 $black,
        /* Top-left shadow */
        .5px -.5px 0 $black,
        /* Top-right shadow */
        -.5px .5px 0 $black,
        /* Bottom-left shadow */
        .5px .5px 0 $black;
}

.subItem {
    font-weight: 500;
}

.nestedMenu {
    height: 0;
    max-height: 0;
    opacity: 0;
    transition: all 0.5s ease, opacity 0.5s ease;
    pointer-events: none;
}

.show {
    // max-height: 12rem;
    // height: 12rem;
    opacity: 1;
    pointer-events: auto;
}

.star {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.closeBtn {
    position: absolute;
    top: 12rem;
    right: -12.8rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2000;
    // color: rgba(255, 255, 255, 0.473);
    color: #e97e26ba;
    font-size: 5rem;
    transform: rotate(270deg);
    padding: 0 5rem;
    letter-spacing: 15px;
    font-weight: 800;
    animation: opacity 1s ease forwards;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}