@import '../styles/globals.scss';

.info {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    p {
        text-align: center;
        color: $offWhite;
        letter-spacing: 1px;
    }
}

.btn {
    background-color: $theme;
    color: $black;
    border: none;
    border-radius: .3rem;
    padding: .6rem 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    min-width: 120px;
    width: fit-content;
    z-index: 2;
    box-shadow: 0 0 10px $black;
    text-decoration: none;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: $black;
        color: $theme;
        transform: scale(1.2);
        transition: all .5s ease-in-out;
        border: 2px solid $theme;
    }

    @include desktop {
        width: 160px;
    }

}