@import '../styles/globals.scss';

.slider {
    margin: 1rem 0;
    overflow: hidden;

    @include desktop {
        max-width: 50vw;
    }

    @include tablet {
        padding-bottom: 2rem;
    }

    img {
        max-width: 90vw;
        max-height: 100%;
    }
}

.info {
    @include desktop {
        margin-top: -3rem;
    }

    p,
    h3 {
        color: $offWhite;
        text-align: center;
        margin: 0;
    }

    h3 {
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    p {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    span {
        font-style: italic;
        color: rgb(165, 165, 165);
        font-size: 1rem;
    }
}