@import './globals.scss';

.sorter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.divider {
    background-color: $theme;
    width: 90%;
    height: .5px;
    align-self: center;
    margin-bottom: 1rem;
}